[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "==3.7.1"
attrs = "==23.1.0"
certifi = "==2023.7.22"
chardet = "==4.0.0"
click = "==8.1.6"
dataclasses = "==0.6"
deprecation = "==2.1.0"
exceptiongroup = "==1.1.2"
fastapi = "==0.101.0"
gotrue = "==1.0.3"
h11 = "==0.14.0"
httpcore = "==0.17.3"
httpx = "==0.24.1"
idna = "==2.10"
iniconfig = "==2.0.0"
packaging = "==23.1"
pluggy = "==1.2.0"
psutil = "==5.9.5"
py = "==1.11.0"
pydantic = "==2.1.1"
pydantic-core = "==2.4.0"
pytest = "==6.2.5"
python-dateutil = "==2.8.2"
python-dotenv = "==1.0.0"
requests = "==2.25.1"
rfc3986 = "==1.5.0"
six = "==1.16.0"
sniffio = "==1.3.0"
starlette = "==0.27.0"
storage3 = "==0.5.4"
strenum = "==0.4.15"
supafunc = "==0.2.3"
toml = "==0.10.2"
tomli = "==2.0.1"
typing-extensions = "==4.7.1"
urllib3 = "==1.26.16"
uvicorn = "==0.23.2"

[dev-packages]
annotated-types = "==0.5.0"
black = "*"
mypy = "*"
mypy-extensions = "==1.0.0"
pytest = "*"

[requires]
python_version = "3.10"
